---
layout: archive
title: "Media"
permalink: /talks/
author_profile: true
---

## 🎥 YouTube Videos

<div class="youtube-video-container">
  <div class="video-item">
    <h3>Conversations with Women in Dataviz</h3>
    <p><em>Women in Dataviz, January 2024</em></p>
    <div class="video-wrapper">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/pX4z6Vedgs8"
        title="Conversations with Women in Dataviz: Freelancing"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
    <p class="video-description">
      I organized this panel discussion about freelancing in data visualization.
      I invited Kendra Allenspach and Shirley Wu to share their experiences and
      advice. Allison Wright moderated the conversation.
    </p>
  </div>
</div>

## 🎤 Talks and Presentations

{% if site.talkmap_link == true %}

<p style="text-decoration: underline">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
